* {
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
a {
  color: #515151;
  text-decoration: none;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.w {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  z-index: 10;
}
.header .header-panel {
  width: 1200px;
  margin: 0 auto;
}
.header .header-panel .logo {
  float: left;
  margin-top: 28px;
}
.header .header-panel .nav {
  float: left;
}
.header .header-panel .nav ul {
  padding-left: 50px;
}
.header .header-panel .nav ul li {
  float: left;
  padding-right: 10px;
}
.header .header-panel .nav ul li a {
  display: block;
  width: 64px;
  height: 60px;
  padding-top: 10px;
  line-height: 60px;
  color: #fff;
}
.header .header-panel .tel {
  float: right;
  margin-top: 28px;
}
.header .header-panel .tel a {
  position: relative;
  color: #fff;
}
.header .header-panel .tel a:before {
  content: '';
  position: absolute;
  top: 2px;
  left: -30px;
  width: 15px;
  height: 19px;
  background: url(../img/telw.png) no-repeat;
}
#dowebok .section {
  overflow: hidden;
}
#dowebok .first {
  position: relative;
  background: url(../img/zt_service_bj1.jpg) 50% 0 no-repeat;
}
#dowebok .first .circle {
  position: absolute;
  top: -300px;
  left: -450px;
  width: 1398px;
  height: 1398px;
  background: url(../img/banner2_3.png) 0 0 no-repeat;
  animation: rot 15s infinite linear;
}
@keyframes rot {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#dowebok .first .diamond {
  position: absolute;
  top: 227px;
  left: 360px;
  width: 362px;
  height: 352px;
  background: url(../img/banner2_2.png) no-repeat;
  transform: translateY(500%);
}
#dowebok .first .left {
  z-index: 20;
  padding-top: 230px;
}
#dowebok .first .left .center {
  z-index: 20;
  margin-bottom: 20px;
}
#dowebok .first .left .bottom img {
  display: inline-block;
  margin-right: 10px;
}
#dowebok .first .left img:nth-child(1) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(2) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(3) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(4) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(5) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(6) {
  transform: translateY(-1000%);
}
#dowebok .first .left img:nth-child(7) {
  transform: translateY(-1000%);
}
#dowebok .first .right .web {
  position: absolute;
  top: 140px;
  right: 268px;
  width: 262px;
  height: 140px;
  background: url(../img/banner2_4.png) no-repeat;
  transform: translateX(200%);
}
#dowebok .first .right .app {
  position: absolute;
  top: 320px;
  right: 360px;
  width: 246px;
  height: 136px;
  background: url(../img/banner2_5.png) no-repeat;
  transform: translateX(300%);
}
#dowebok .first .right .ios {
  position: absolute;
  top: 480px;
  right: 315px;
  width: 233px;
  height: 135px;
  background: url(../img/banner2_6.png) no-repeat;
  transform: translateX(300%);
}
#dowebok .first .right .android {
  position: absolute;
  top: 650px;
  right: 387px;
  width: 274px;
  height: 136px;
  background: url(../img/banner2_7.png) no-repeat;
  transform: translateX(300%);
}
#dowebok .first.current .left .top img:nth-child(1) {
  /* 过渡*/
  transition: all 0.15s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .top img:nth-child(2) {
  /* 过渡*/
  transition: all 0.15s 0.15s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .center img:nth-child(1) {
  /* 过渡*/
  transition: all 0.15s 0.3s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .center img:nth-child(2) {
  z-index: 20;
  /* 过渡*/
  transition: all 0.5s 1.5s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .bottom img:nth-child(1) {
  /* 过渡*/
  transition: all 0.15s 0.45s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .bottom img:nth-child(2) {
  /* 过渡*/
  transition: all 0.15s 0.6s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .left .bottom img:nth-child(3) {
  /* 过渡*/
  transition: all 0.15s 0.75s;
  /* 复位*/
  transform: translate(0px, 0px);
}
#dowebok .first.current .diamond {
  /*过渡*/
  transition: all 1s 0.3s;
  transform: translateY(0px);
}
#dowebok .first.current .web {
  /*过渡*/
  transition: all 0.2s 0.75s;
  transform: translateX(0px);
}
#dowebok .first.current .app {
  /*过渡*/
  transition: all 0.2s 0.95s;
  transform: translateX(0px);
}
#dowebok .first.current .ios {
  /*过渡*/
  transition: all 0.2s 1.15s;
  transform: translateX(0px);
}
#dowebok .first.current .android {
  /*过渡*/
  transition: all 0.2s 1.35s;
  transform: translateX(0px);
}
#dowebok .second {
  background: url(../img/zt_service_bj2.jpg) 50% 0 no-repeat;
}
#dowebok .second .w {
  position: relative;
}
#dowebok .second .w .xysbuild {
  position: absolute;
  top: 150px;
  left: 400px;
  width: 392px;
  height: 43px;
  background: url(../img/banner3_tt.png) no-repeat;
  transform: translateY(-1000%);
}
#dowebok .second .w .detail {
  margin: 0 auto;
  padding-top: 190px;
  height: 50px;
  width: 495px;
  transform: translateX(-1000%);
}
#dowebok .second .w .detail p {
  line-height: 50px;
  font-size: 16px;
  color: #fff;
}
#dowebok .second .w .text {
  position: absolute;
  bottom: 270px;
  left: 560px;
  width: 476px;
  height: 167px;
  background: url(../img/banner3_img7.png) no-repeat;
  transform: translateX(1000%);
}
#dowebok .second .w .pad-1 {
  position: absolute;
  bottom: -10px;
  left: 80px;
  width: 214px;
  height: 269px;
  z-index: 10;
  background: url(../img/banner3_img3.png) no-repeat;
  transform: translateX(-1000%);
}
#dowebok .second .w .computer-1 {
  position: absolute;
  bottom: 45px;
  left: 170px;
  width: 430px;
  height: 409px;
  z-index: 5;
  background: url(../img/banner3_img5.png) no-repeat;
  opacity: 0;
  transform: translateY(100%);
}
#dowebok .second .w .computer-2 {
  position: absolute;
  bottom: 65px;
  left: 500px;
  width: 457px;
  height: 250px;
  background: url(../img/banner3_img6.png) no-repeat;
  opacity: 0;
  transform: translateY(100%);
}
#dowebok .second .w .pad-2 {
  position: absolute;
  bottom: 40px;
  left: 760px;
  width: 271px;
  height: 153px;
  background: url(../img/banner3_img2.png) no-repeat;
  opacity: 0;
}
#dowebok .second .w .phone {
  position: absolute;
  bottom: 25px;
  left: 955px;
  width: 132px;
  height: 224px;
  background: url(../img/banner3_img1.png) no-repeat;
  opacity: 0;
  transform: translateY(100%);
}
#dowebok .second .w .keyboard {
  position: absolute;
  bottom: 10px;
  left: 330px;
  width: 312px;
  height: 27px;
  background: url(../img/banner3_img4.png) no-repeat;
  opacity: 0;
}
#dowebok .second.current .xysbuild {
  transition: all 0.2s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .detail {
  transition: all 0.2s 0.2s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .text {
  transition: all 0.5s 2s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .pad-1 {
  transition: all 0.2s 1.6s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .computer-1 {
  opacity: 1;
  transition: all 0.5s 0.9s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .computer-2 {
  opacity: 1;
  transition: all 0.5s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .pad-2 {
  opacity: 1;
  transition: all 0.2s 0.5s;
}
#dowebok .second.current .phone {
  opacity: 1;
  transition: all 0.2s 0.7s;
  transform: translate(0px, 0px);
}
#dowebok .second.current .keyboard {
  opacity: 1;
  transition: all 1s 2s;
}
#dowebok .third {
  background: url(../img/zt_service_bj3.jpg) 50% 0 no-repeat;
}
#dowebok .third .w {
  position: relative;
}
#dowebok .third .w .gzhbuild {
  position: absolute;
  top: 120px;
  left: 400px;
  width: 420px;
  height: 46px;
  background: url(../img/zt_service3_tt.png) no-repeat;
  transform: translateY(-1000%);
}
#dowebok .third .w .detail {
  margin: 0 auto;
  padding-top: 180px;
  height: 50px;
  width: 750px;
  transform: translateX(-1000%);
}
#dowebok .third .w .detail p {
  line-height: 50px;
  font-size: 18px;
  color: #fff;
}
#dowebok .third .w .iphone {
  position: absolute;
  bottom: -80px;
  left: 650px;
  width: 499px;
  height: 544px;
  background: url(../img/banner4_img4.png) no-repeat;
  transform: translateX(1000%);
}
#dowebok .third .w .img-1 {
  position: absolute;
  top: 250px;
  left: 525px;
  width: 359px;
  height: 331px;
  z-index: 50;
  background: url(../img/banner4_img1.png) no-repeat;
  opacity: 0;
}
#dowebok .third .w .img-2 {
  position: absolute;
  bottom: 150px;
  left: 570px;
  width: 381px;
  height: 364px;
  z-index: 40;
  background: url(../img/banner4_img2.png) no-repeat;
  opacity: 0;
}
#dowebok .third .w .img-3 {
  position: absolute;
  bottom: 45px;
  left: 600px;
  width: 434px;
  height: 437px;
  z-index: 30;
  background: url(../img/banner4_img3.png) no-repeat;
  opacity: 0;
}
#dowebok .third .w .ico {
  position: absolute;
  width: 500px;
  height: 324px;
  top: 350px;
  left: 20px;
}
#dowebok .third .w .ico div {
  float: left;
  padding: 0 20px 40px 20px;
}
#dowebok .third .w .ico .xcx {
  transform: translateY(1000%);
}
#dowebok .third .w .ico .qyh {
  transform: translateY(1000%);
}
#dowebok .third .w .ico .fwh {
  transform: translateY(1000%);
}
#dowebok .third .w .ico .dyh {
  transform: translateY(1000%);
}
#dowebok .third.current .gzhbuild {
  transition: all 0.2s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .detail {
  transition: all 0.2s 0.2s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .ico .xcx {
  transition: all 0.2s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .ico .qyh {
  transition: all 0.2s 0.4s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .ico .fwh {
  transition: all 0.2s 0.6s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .ico .dyh {
  transition: all 0.2s 0.8s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .iphone {
  transition: all 0.5s;
  transform: translate(0px, 0px);
}
#dowebok .third.current .img-3 {
  transition: all 0.4s 0.5s;
  opacity: 1;
}
#dowebok .third.current .img-2 {
  transition: all 0.4s 0.9s;
  opacity: 1;
}
#dowebok .third.current .img-1 {
  transition: all 0.4s 1.3s;
  opacity: 1;
}
#dowebok .fourth {
  background: url(../img/zt_service_bj4.jpg) no-repeat center;
  background-size: cover;
}
#dowebok .fourth .w {
  position: relative;
}
#dowebok .fourth .w .title {
  margin-top: 120px;
  width: 100%;
  text-align: center;
  height: auto;
}
#dowebok .fourth .w .title img {
  transform: translateY(-1000%);
}
#dowebok .fourth .w .title p {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(300%);
}
#dowebok .fourth .w .ico {
  width: 100%;
  height: auto;
}
#dowebok .fourth .w .ico .ioc-box {
  width: 700px;
  margin: 0 auto;
}
#dowebok .fourth .w .ico .ioc-box div {
  float: left;
  margin: 40px 20px 0 20px;
  transform: translateY(-1000%);
}
#dowebok .fourth .w .circle {
  position: absolute;
  top: 260px;
  left: 380px;
  width: 449px;
  height: 442px;
  background: url(../img/banner5_img.png) no-repeat;
  animation: rot 15s infinite linear;
}
#dowebok .fourth .w .theme {
  position: absolute;
  left: 480px;
  top: 470px;
  font-size: 30px;
  font-family: SimHei;
  color: #fff;
  transform: translateY(-2000%);
}
#dowebok .fourth .w .text .one-text {
  position: absolute;
  top: 320px;
  left: 250px;
  opacity: 0;
  transform: translateX(-100%);
}
#dowebok .fourth .w .text .two-text {
  position: absolute;
  top: 400px;
  left: 770px;
  opacity: 0;
  transform: translateX(100%);
}
#dowebok .fourth .w .text .third-text {
  position: absolute;
  top: 480px;
  left: 200px;
  opacity: 0;
  transform: translateX(-100%);
}
#dowebok .fourth .w .text .fourth-text {
  position: absolute;
  top: 630px;
  left: 700px;
  opacity: 0;
  transform: translateX(100%);
}
#dowebok .fourth.current .title img {
  transition: all 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .title p {
  opacity: 1;
  transition: all 0.5s 1s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .ioc-box div:nth-child(1) {
  transition: all 0.2s 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .ioc-box div:nth-child(2) {
  transition: all 0.2s 0.5s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .ioc-box div:nth-child(3) {
  transition: all 0.2s 0.7s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .ioc-box div:nth-child(4) {
  transition: all 0.2s 0.9s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .ioc-box div:nth-child(5) {
  transition: all 0.2s 1.1s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .theme {
  transition: all 0.3s 1.5s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .text .one-text {
  opacity: 1;
  transition: all 0.5s 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .text .two-text {
  opacity: 1;
  transition: all 0.5s 0.5s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .text .third-text {
  opacity: 1;
  transition: all 0.5s 0.7s;
  transform: translate(0px, 0px);
}
#dowebok .fourth.current .text .fourth-text {
  opacity: 1;
  transition: all 0.5s 0.9s;
  transform: translate(0px, 0px);
}
#dowebok .fifth {
  background: url(../img/zt_service_bj5.jpg) 50% 0 no-repeat;
}
#dowebok .fifth .w {
  position: relative;
}
#dowebok .fifth .w .title {
  margin-top: 190px;
  width: 100%;
  text-align: center;
  height: auto;
}
#dowebok .fifth .w .title img {
  transform: translateY(-1000%);
}
#dowebok .fifth .w .title p {
  color: #fff;
  font-size: 18px;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(-300%);
}
#dowebok .fifth .w .search-seo {
  margin-top: 100px;
  width: 100%;
  display: flex;
  color: #fff;
}
#dowebok .fifth .w .search-seo div {
  flex: 1;
  text-align: center;
  position: relative;
}
#dowebok .fifth .w .search-seo div img:nth-child(2) {
  position: absolute;
  top: 50px;
  left: 120px;
  opacity: 0;
}
#dowebok .fifth .w .search-seo div:nth-child(1) img:nth-child(1) {
  transform: rotate(30deg);
  animation: rot 15s infinite linear;
}
#dowebok .fifth .w .search-seo div:nth-child(2) img:nth-child(1) {
  transform: rotate(50deg);
  animation: rot 14s infinite linear;
}
#dowebok .fifth .w .search-seo div:nth-child(3) img:nth-child(1) {
  transform: rotate(70deg);
  animation: rot 16s infinite linear;
}
#dowebok .fifth .w .search-seo div:nth-child(4) img:nth-child(1) {
  transform: rotate(90deg);
  animation: rot 14s infinite linear;
}
#dowebok .fifth .w .search-seo h3 {
  text-align: center;
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  line-height: 48px;
  transform: translateY(1000%);
}
#dowebok .fifth .w .search-seo p {
  width: 256px;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  transform: translateY(1000%);
}
#dowebok .fifth.current .title img {
  transition: all 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .fifth.current .title p {
  opacity: 1;
  transition: all 0.2s 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .fifth.current .search-seo div:nth-child(1) img:nth-child(2) {
  opacity: 1;
  transition: all 0.5s 0.5s;
}
#dowebok .fifth.current .search-seo div:nth-child(1) h3 {
  transform: translate(0px, 0px);
  transition: all 0.2s 0.5s;
}
#dowebok .fifth.current .search-seo div:nth-child(1) p {
  transform: translate(0px, 0px);
  transition: all 0.2s 0.7s;
}
#dowebok .fifth.current .search-seo div:nth-child(2) img:nth-child(2) {
  opacity: 1;
  transition: all 0.5s 0.8s;
}
#dowebok .fifth.current .search-seo div:nth-child(2) h3 {
  transform: translate(0px, 0px);
  transition: all 0.2s 1s;
}
#dowebok .fifth.current .search-seo div:nth-child(2) p {
  transform: translate(0px, 0px);
  transition: all 0.2s 1.2s;
}
#dowebok .fifth.current .search-seo div:nth-child(3) img:nth-child(2) {
  opacity: 1;
  transition: all 0.5s 1.1s;
}
#dowebok .fifth.current .search-seo div:nth-child(3) h3 {
  transform: translate(0px, 0px);
  transition: all 0.2s 1.4s;
}
#dowebok .fifth.current .search-seo div:nth-child(3) p {
  transform: translate(0px, 0px);
  transition: all 0.2s 1.6s;
}
#dowebok .fifth.current .search-seo div:nth-child(4) img:nth-child(2) {
  opacity: 1;
  transition: all 0.5s 1.4s;
}
#dowebok .fifth.current .search-seo div:nth-child(4) h3 {
  transform: translate(0px, 0px);
  transition: all 0.2s 1.6s;
}
#dowebok .fifth.current .search-seo div:nth-child(4) p {
  transform: translate(0px, 0px);
  transition: all 0.2s 1.8s;
}
#dowebok .sixth {
  background: #DEDDDB;
}
#dowebok .sixth .w {
  position: relative;
}
#dowebok .sixth .w .title {
  margin-top: 120px;
  width: 100%;
  text-align: center;
  height: auto;
}
#dowebok .sixth .w .title img {
  transform: translateY(-1000%);
}
#dowebok .sixth .w .title p {
  color: #D9A960;
  font-size: 18px;
  margin-top: 20px;
  opacity: 0;
  transform: translateX(300%);
}
#dowebok .sixth .w .book1 {
  position: absolute;
  top: 370px;
  left: -120px;
  width: 605px;
  height: 370px;
  background: url(../img/zt_service1_img1.png) no-repeat;
  opacity: 0;
}
#dowebok .sixth .w .book2 {
  position: absolute;
  top: 190px;
  left: 50px;
  width: 1263px;
  height: 438px;
  z-index: 30;
  background: url(../img/zt_service1_img2.png) no-repeat;
  opacity: 0;
}
#dowebok .sixth .w .book3 {
  position: absolute;
  top: 148px;
  left: 436px;
  width: 915px;
  height: 510px;
  background: url(../img/zt_service1_img3.png) no-repeat;
  opacity: 0;
}
#dowebok .sixth.current .title img {
  transition: all 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .sixth.current .title p {
  opacity: 1;
  transition: all 0.2s 0.3s;
  transform: translate(0px, 0px);
}
#dowebok .sixth.current .book1 {
  opacity: 1;
  transition: all 2s 0.4s;
}
#dowebok .sixth.current .book2 {
  opacity: 1;
  transition: all 2s 3s;
}
#dowebok .sixth.current .book3 {
  opacity: 1;
  transition: all 2s 1s;
}
